chrysalis.iso
os/chrysalis.iso
build
os/build
hdd.img
git.txt
.petal-test
*.log
*.o
*.logs
*.sha256
*.img
*.iso
*.bin
*.elf
*.out
*.log
tools/zig/zig-x86_64-linux-0.16.0-dev.2905+5d71e3051
tools/zig/zig-x86_64-linux-0.16.0-dev.2905+5d71e3051.tar.xz