# Load graphical modules
insmod png
insmod tga
insmod jpeg
insmod font
insmod gfxterm
insmod vbe
insmod vga

# Set graphics mode
set gfxmode=1024x768,800x600,auto
set gfxpayload=keep

# Enable graphical terminal
terminal_output gfxterm

set theme=/boot/grub/themes/chrysalis/theme.txt
set timeout=5
set default=0

menuentry "Chrysalis OS - Installer" {
  multiboot2 /boot/installer.elf
  module2 /boot/chrysalis/kernel.bin kernel.bin
  module2 /boot/chrysalis/kernel64.bin kernel64.bin
  module2 /icons/3D.bmp 3D.bmp
  module2 /icons/bg.bmp bg.bmp
  module2 /icons/calc.bmp calc.bmp
  module2 /icons/clock.bmp clock.bmp
  module2 /icons/files.bmp files.bmp
  module2 /icons/img.bmp img.bmp
  module2 /icons/info.bmp info.bmp
  module2 /icons/mine.bmp mine.bmp
  module2 /icons/net.bmp net.bmp
  module2 /icons/note.bmp note.bmp
  module2 /icons/paint.bmp paint.bmp
  module2 /icons/run.bmp run.bmp
  module2 /icons/start.bmp start.bmp
  module2 /icons/task.bmp task.bmp
  module2 /icons/term.bmp term.bmp
  module2 /icons/x0.bmp x0.bmp
  module2 /system/apps/clickme.petal clickme.petal
  module2 /system/apps/clock.petal clock.petal
  module2 /system/apps/image-viewer.petal image-viewer.petal
  module2 /system/apps/konsole.petal konsole.petal
  module2 /system/bg.bmp bg.bmp
  module2 /boot/grub/boot.img boot.img
  module2 /boot/grub/core.img core.img
  module2 /boot/grub/themes/chrysalis/background.tga background.tga
  module2 /boot/grub/themes/chrysalis/select_c.tga select_c.tga
  module2 /boot/grub/themes/chrysalis/theme.txt theme.txt
  boot
}
