# GRUB Configuration for Chrysalis OS

# Load graphical modules
insmod png
insmod tga
insmod jpeg
insmod font
insmod gfxterm
insmod vbe
insmod vga

# Set graphics mode
set gfxmode=1024x768,800x600,auto
set gfxpayload=keep

# Enable graphical terminal
terminal_output gfxterm

# Theme
set theme=/boot/grub/themes/chrysalis/theme.txt

set timeout=5
set default=0

menuentry "Chrysalis OS (Console)" {
    multiboot2 /boot/kernel.bin
    boot
}

menuentry "Chrysalis OS (64-bit Prototype)" {
    set gfxpayload=text
    terminal_output console
    multiboot2 /boot/kernel64.bin
    module2 /boot/hello64.elf hello64.elf
    module2 /system/tests/linux-hello64 linux-hello64
    boot
}

menuentry "Chrysalis OS (64-bit Prototype, Linux ABI)" {
    set gfxpayload=text
    terminal_output console
    multiboot2 /boot/kernel64.bin linuxabi=1
    module2 /boot/hello64.elf hello64.elf
    module2 /lib64/ld-linux-x86-64.so.2 /lib64/ld-linux-x86-64.so.2
    module2 /lib/x86_64-linux-gnu/libc.so.6 /lib/x86_64-linux-gnu/libc.so.6
    module2 /system/tests/linux-hello64 /system/tests/linux-hello64
    module2 /system/tests/hello-libc /system/tests/hello-libc
    module2 /system/tests/linux-test-m2 /system/tests/linux-test-m2
    module2 /system/tests/linux-test-pipe /system/tests/linux-test-pipe
    module2 /system/tests/linux-test-m3 /system/tests/linux-test-m3
    module2 /system/tests/linux-test-m4 /system/tests/linux-test-m4
    module2 /system/tests/linux-test-m5 /system/tests/linux-test-m5
    module2 /system/tests/linux-test-xorg-direct /system/tests/linux-test-xorg-direct
    module2 /system/tests/linux-test-mmap /system/tests/linux-test-mmap
    module2 /system/tests/linux-test-mmap-mix /system/tests/linux-test-mmap-mix

    # M3: Xorg binaries
    module2 /usr/lib/xorg/Xorg /usr/lib/xorg/Xorg
    module2 /usr/lib/xorg/modules/drivers/amdgpu_drv.so /usr/lib/xorg/modules/drivers/amdgpu_drv.so
    module2 /usr/lib/xorg/modules/drivers/ati_drv.so /usr/lib/xorg/modules/drivers/ati_drv.so
    module2 /usr/lib/xorg/modules/drivers/fbdev_drv.so /usr/lib/xorg/modules/drivers/fbdev_drv.so
    module2 /usr/lib/xorg/modules/drivers/intel_drv.so /usr/lib/xorg/modules/drivers/intel_drv.so
    module2 /usr/lib/xorg/modules/drivers/modesetting_drv.so /usr/lib/xorg/modules/drivers/modesetting_drv.so
    module2 /usr/lib/xorg/modules/drivers/nouveau_drv.so /usr/lib/xorg/modules/drivers/nouveau_drv.so
    module2 /usr/lib/xorg/modules/drivers/qxl_drv.so /usr/lib/xorg/modules/drivers/qxl_drv.so
    module2 /usr/lib/xorg/modules/drivers/radeon_drv.so /usr/lib/xorg/modules/drivers/radeon_drv.so
    module2 /usr/lib/xorg/modules/drivers/vesa_drv.so /usr/lib/xorg/modules/drivers/vesa_drv.so
    module2 /usr/lib/xorg/modules/drivers/vmware_drv.so /usr/lib/xorg/modules/drivers/vmware_drv.so
    module2 /usr/lib/xorg/modules/extensions/libglx.so /usr/lib/xorg/modules/extensions/libglx.so
    module2 /usr/lib/xorg/modules/input/inputtest_drv.so /usr/lib/xorg/modules/input/inputtest_drv.so
    module2 /usr/lib/xorg/modules/input/libinput_drv.so /usr/lib/xorg/modules/input/libinput_drv.so
    module2 /usr/lib/xorg/modules/input/wacom_drv.so /usr/lib/xorg/modules/input/wacom_drv.so
    module2 /usr/lib/xorg/modules/libexa.so /usr/lib/xorg/modules/libexa.so
    module2 /usr/lib/xorg/modules/libfbdevhw.so /usr/lib/xorg/modules/libfbdevhw.so
    module2 /usr/lib/xorg/modules/libglamoregl.so /usr/lib/xorg/modules/libglamoregl.so
    module2 /usr/lib/xorg/modules/libint10.so /usr/lib/xorg/modules/libint10.so
    module2 /usr/lib/xorg/modules/libshadow.so /usr/lib/xorg/modules/libshadow.so
    module2 /usr/lib/xorg/modules/libshadowfb.so /usr/lib/xorg/modules/libshadowfb.so
    module2 /usr/lib/xorg/modules/libvgahw.so /usr/lib/xorg/modules/libvgahw.so
    module2 /usr/lib/xorg/modules/libwfb.so /usr/lib/xorg/modules/libwfb.so
    module2 /usr/bin/xinit /usr/bin/xinit
    module2 /usr/bin/xauth /usr/bin/xauth
    module2 /usr/bin/xkbcomp /usr/bin/xkbcomp
    module2 /bin/sh /bin/sh
    module2 /bin/dash /bin/dash

    # M3: X11 libraries
    module2 /lib/x86_64-linux-gnu/libX11.so.6 /lib/x86_64-linux-gnu/libX11.so.6
    module2 /lib/x86_64-linux-gnu/libxcb.so.1 /lib/x86_64-linux-gnu/libxcb.so.1
    module2 /lib/x86_64-linux-gnu/libXau.so.6 /lib/x86_64-linux-gnu/libXau.so.6
    module2 /lib/x86_64-linux-gnu/libXdmcp.so.6 /lib/x86_64-linux-gnu/libXdmcp.so.6
    module2 /lib/x86_64-linux-gnu/libXext.so.6 /lib/x86_64-linux-gnu/libXext.so.6
    module2 /lib/x86_64-linux-gnu/libXrender.so.1 /lib/x86_64-linux-gnu/libXrender.so.1
    module2 /lib/x86_64-linux-gnu/libXrandr.so.2 /lib/x86_64-linux-gnu/libXrandr.so.2

    # M3: Config files
    module2 /etc/X11/xorg.conf /etc/X11/xorg.conf
    module2 /etc/X11/xinitrc /etc/X11/xinitrc

    # M4: Window Manager & Terminal
    module2 /usr/bin/dwm /usr/bin/dwm
    module2 /usr/bin/xterm /usr/bin/xterm

    # M4: UI / Font Libraries
    module2 /lib/x86_64-linux-gnu/libXft.so.2 /lib/x86_64-linux-gnu/libXft.so.2
    module2 /lib/x86_64-linux-gnu/libfontconfig.so.1 /lib/x86_64-linux-gnu/libfontconfig.so.1
    module2 /lib/x86_64-linux-gnu/libexpat.so.1 /lib/x86_64-linux-gnu/libexpat.so.1
    module2 /lib/x86_64-linux-gnu/libfreetype.so.6 /lib/x86_64-linux-gnu/libfreetype.so.6
    module2 /lib/x86_64-linux-gnu/libz.so.1 /lib/x86_64-linux-gnu/libz.so.1
    module2 /lib/x86_64-linux-gnu/libbz2.so.1.0 /lib/x86_64-linux-gnu/libbz2.so.1.0
    module2 /lib/x86_64-linux-gnu/libpng16.so.16 /lib/x86_64-linux-gnu/libpng16.so.16
    module2 /lib/x86_64-linux-gnu/libbrotlidec.so.1 /lib/x86_64-linux-gnu/libbrotlidec.so.1
    module2 /lib/x86_64-linux-gnu/libbrotlicommon.so.1 /lib/x86_64-linux-gnu/libbrotlicommon.so.1
    module2 /lib/x86_64-linux-gnu/libXaw.so.7 /lib/x86_64-linux-gnu/libXaw.so.7
    module2 /lib/x86_64-linux-gnu/libXmu.so.6 /lib/x86_64-linux-gnu/libXmu.so.6
    module2 /lib/x86_64-linux-gnu/libXinerama.so.1 /lib/x86_64-linux-gnu/libXinerama.so.1
    module2 /lib/x86_64-linux-gnu/libXpm.so.4 /lib/x86_64-linux-gnu/libXpm.so.4
    module2 /lib/x86_64-linux-gnu/libXt.so.6 /lib/x86_64-linux-gnu/libXt.so.6
    module2 /lib/x86_64-linux-gnu/libICE.so.6 /lib/x86_64-linux-gnu/libICE.so.6
    module2 /lib/x86_64-linux-gnu/libutempter.so.0 /lib/x86_64-linux-gnu/libutempter.so.0
    module2 /lib/x86_64-linux-gnu/libtinfo.so.6 /lib/x86_64-linux-gnu/libtinfo.so.6
    module2 /lib/x86_64-linux-gnu/libSM.so.6 /lib/x86_64-linux-gnu/libSM.so.6
    module2 /lib/x86_64-linux-gnu/libuuid.so.1 /lib/x86_64-linux-gnu/libuuid.so.1
    module2 /lib/x86_64-linux-gnu/libdbus-1.so.3 /lib/x86_64-linux-gnu/libdbus-1.so.3
    module2 /lib/x86_64-linux-gnu/libudev.so.1 /lib/x86_64-linux-gnu/libudev.so.1
    module2 /lib/x86_64-linux-gnu/libselinux.so.1 /lib/x86_64-linux-gnu/libselinux.so.1
    module2 /lib/x86_64-linux-gnu/libnettle.so.8 /lib/x86_64-linux-gnu/libnettle.so.8
    module2 /lib/x86_64-linux-gnu/libunwind.so.8 /lib/x86_64-linux-gnu/libunwind.so.8
    module2 /lib/x86_64-linux-gnu/libxcvt.so.0 /lib/x86_64-linux-gnu/libxcvt.so.0
    module2 /lib/x86_64-linux-gnu/libpciaccess.so.0 /lib/x86_64-linux-gnu/libpciaccess.so.0
    module2 /lib/x86_64-linux-gnu/libdrm.so.2 /lib/x86_64-linux-gnu/libdrm.so.2
    module2 /lib/x86_64-linux-gnu/libpixman-1.so.0 /lib/x86_64-linux-gnu/libpixman-1.so.0
    module2 /lib/x86_64-linux-gnu/libXfont2.so.2 /lib/x86_64-linux-gnu/libXfont2.so.2
    module2 /lib/x86_64-linux-gnu/libsystemd.so.0 /lib/x86_64-linux-gnu/libsystemd.so.0
    module2 /lib/x86_64-linux-gnu/libxshmfence.so.1 /lib/x86_64-linux-gnu/libxshmfence.so.1
    module2 /lib/x86_64-linux-gnu/libaudit.so.1 /lib/x86_64-linux-gnu/libaudit.so.1
    module2 /lib/x86_64-linux-gnu/libm.so.6 /lib/x86_64-linux-gnu/libm.so.6
    module2 /lib/x86_64-linux-gnu/libcap-ng.so.0 /lib/x86_64-linux-gnu/libcap-ng.so.0
    module2 /lib/x86_64-linux-gnu/libcap.so.2 /lib/x86_64-linux-gnu/libcap.so.2
    module2 /lib/x86_64-linux-gnu/libpcre2-8.so.0 /lib/x86_64-linux-gnu/libpcre2-8.so.0
    module2 /lib/x86_64-linux-gnu/liblzma.so.5 /lib/x86_64-linux-gnu/liblzma.so.5
    module2 /lib/x86_64-linux-gnu/libfontenc.so.1 /lib/x86_64-linux-gnu/libfontenc.so.1
    module2 /lib/x86_64-linux-gnu/libxkbfile.so.1 /lib/x86_64-linux-gnu/libxkbfile.so.1
    source /boot/grub/x11-share-modules.cfg

    boot

}

menuentry "Chrysalis OS (Console, PIC Safe)" {
    multiboot2 /boot/kernel.bin apic=off
    boot
}

menuentry "Chrysalis OS (Console, Debug)" {
    multiboot2 /boot/kernel.bin --debug
    boot
}
