# GRUB Configuration for Chrysalis OS

# Load graphical modules
insmod png
insmod tga
insmod jpeg
insmod font
insmod gfxterm
insmod vbe
insmod vga

# Set graphics mode
set gfxmode=1024x768,800x600,auto
set gfxpayload=keep

# Enable graphical terminal
terminal_output gfxterm

# Theme
set theme=/boot/grub/themes/chrysalis/theme.txt

set timeout=5
set default=0

menuentry "Chrysalis OS (Console)" {
    multiboot2 /boot/kernel.bin
    boot
}

menuentry "Chrysalis OS (64-bit Prototype)" {
    set gfxpayload=text
    terminal_output console
    multiboot2 /boot/kernel64.bin
    module2 /boot/hello64.elf hello64.elf
    module2 /system/tests/linux-hello64 linux-hello64
    boot
}

menuentry "Chrysalis OS (64-bit Prototype, Linux ABI)" {
    set gfxpayload=text
    terminal_output console
    multiboot2 /boot/kernel64.bin linuxabi=1
    module2 /boot/hello64.elf hello64.elf
    module2 /lib64/ld-linux-x86-64.so.2 /lib64/ld-linux-x86-64.so.2
    module2 /lib/x86_64-linux-gnu/libc.so.6 /lib/x86_64-linux-gnu/libc.so.6
    module2 /system/tests/linux-hello64 /system/tests/linux-hello64
    module2 /system/tests/hello-libc /system/tests/hello-libc
    boot

}

menuentry "Chrysalis OS (Console, PIC Safe)" {
    multiboot2 /boot/kernel.bin apic=off
    boot
}

menuentry "Chrysalis OS (Console, Debug)" {
    multiboot2 /boot/kernel.bin --debug
    boot
}
